<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>checkbox测试</title>
    <script src="../js/angular.js"></script>
</head>
<body ng-app="myNg" ng-controller="ngCtrl">



<div ng-repeat="item in array">
    <input type="checkbox" ng-click="choose($event,item.name)"> {{item.name}}
</div>

<button ng-click="chan()">点击变换数组</button>

<div ng-repeat="item in array">
    <input ng-model="item.ck" type="checkbox" ng-click="choose($event,item.name)"> {{item.name}}
</div>


</body>
<script>
    angular.module('myNg',[]).controller('ngCtrl',function($scope,$log){

        $scope.array =[{id:1,'name':'张三'},{id:2,'name':'王五'},{id:3,'name':'李四'}];
        $scope.check=[];
        $scope.choose =function ($event,name) {
            console.log($event.target.checked);
            if($event.target.checked){
                $scope.check.push(name);
            }else {
                for(var i=0;i<=$scope.check.length;i++){
                    if($scope.check[i] ==name){
                        $scope.check.splice(i,1);
                    }
                }
            }
            console.log($scope.check);
        }

        $scope.chan =function () {
            for(var i=0;i<$scope.array.length;i++){
                if($scope.check.indexOf($scope.array[i].name)>=0){
                    $scope.array[i].ck =true;
                }else {
                    $scope.array[i].ck =false;
                }
            }
            console.log($scope.array);
        }


    })
</script>
</html>