<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ng</title>
    <script src="../js/angular.js"></script>
</head>
<body ng-app="myNg" ng-controller="ngCtrl">


<ul>
    <li ng-repeat="ar in arry" ng->{{ar.name}} {{ar.age}}</li>
</ul>
<div ng-repeat="item in items">{{item}}</div>

</body>
<script>
    angular.module('myNg',[]).controller('ngCtrl',function($scope) {

        //ajax接口
        $scope.arry = [{name: 'zs', age: '22'},{name: 'zzzzz', age: '20'}, {name: 'z', age: '22'}];
        $scope.items ={name:'张三',age:'24',sex:'男'};


    })










</script>
</html>