<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ng</title>
    <script src="../js/angular.js"></script>
</head>
<body ng-app="myNg" ng-controller="ngCtrl">

    <input type="radio" name="radios" ng-model="state" value="1" />
    <input type="radio" name="radios" ng-model="state" value="0" />
    <span>{{ state }}</span>

</body>
<script>
    angular.module('myNg',[]).controller('ngCtrl',function($scope,$log){

        var items ={"name":"张三","age":"23","ph":"13247005169"};
        var fnn= angular.bind(items, function fu(it){$log.log(this.name+it)})
        fnn("你好");

        var a =angular.copy(items);
        $log.log(a);

        var items2 ={"name":"李四","age":"24",height:"180"};
        var b = angular.equals(items,items2)
        $log.log(b);

        var c =angular.extend(items,items2);
        $log.log(c);

        angular.forEach(items2,function(val,key){
            $log.log(key+":"+val);
        })

        var json = '{"name":"xxx","age":34}';
        $log.log(eval("("+json+")"));
        $log.log(JSON.parse(json));
        $log.log(angular.fromJson(json));
        $log.log(angular.toJson({"name":"xxx","age":34}));
        $log.log(angular.identity("xxx",123));
        $log.log(angular.isArray(["xxx"]));
        $log.log(angular.isDate(new Date()));
        $log.log(angular.isDefined([]));
        $log.log(angular.isUndefined(undefined));
        $log.log(angular.isFunction(function(){}));
        $log.log(angular.isNumber(12));
        $log.log(angular.isString('12'));
        $log.log(angular.isObject({}));
        $log.log(angular.lowercase('xxxX'));
        $log.log(angular.uppercase('xxxX'));

        var flag = false;
        flag ? console.log('xxx') : angular.noop();


    })
</script>
</html>